.navbar{
  background-color: #538752;
}

.navbar a {
  color: white;
}

#big_row{
  border-top: 6px solid #538752;
  border-bottom: 6px solid #538752;

  border-radius: 20px 20px 5px 5px;
}

/* #add_comment{
  margin-left: 300px !important;
}

#btn_comment{
  margin-left: 300px;
} */
